*{
    margin: 0px;
    padding: 0px;
}
.loginsec{
    position: fixed;
    height:100vh;
    width: 100%;
    background-color: rgb(115, 155, 230);
    color: white;
    /* display: flex; */
}
.heading{
    text-align: center;
    font-size: 48px;
    font-family: cursive, Helvetica, sans-serif;
    margin-bottom: 1rem;
    margin-top: 10%;
    color: textgadi;
    font-size: 72px;
}
.logincover{
    height: 400px;
    width: 60%;
    margin-left: 20%;
    background-color:rgb(149, 180, 238);
    box-shadow: 1px 1px 4px rgb(138, 138, 138);
    border-radius: 20px;
}
.loginform{
    width: 80%;
    margin-left: 13%;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}
.detail{
    display: flex;
    align-items: center;
    margin: .5rem;
}
.detail label{
    font-family:'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    width: 30%;
}
.detail input{
    width: 60%;
    background-color: transparent;
    border: 1px solid rgb(205, 225, 255);
    border-radius: 8px;
    padding-left: 8px;
    font-size: 18px;
    color: white;
    height:25px;
}
.btncover{
    margin-top: 2rem;
    width: 90%;
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
}
.btn{
    cursor: pointer;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: rgb(31, 31, 31);
    height: 40px;
    width: 42%;
    border-radius: 12px;
    border-color: white;
    transition: .4s;
}
.btn:hover{
    scale: 1.1;
}
.btn:nth-child(1){
    /* background-color: rgb(149, 180, 238); */
    border: 2px solid white;
    background-color: rgb(115, 155, 230);
    color: rgb(66, 66, 66);
    font-size: 17px;
}
.btn:nth-child(2){
    /* background-color: white; */
    background-color: rgb(115, 155, 230);
    border: 2px solid rgb(253, 253, 253);
    color: rgb(77, 77, 77);
    font-size: 17px;
}